@import url('~normalize.css/normalize.css');
@import url('./variables.css');

/* general styles */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  min-height: 100%;
}

#main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
}

main {
  flex-grow: 1;
  max-width: 1000px;
  align-self: center;
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}
/*
a:hover {
  text-decoration: underline var(--color-secondary);
} */

/* navbar styles */

nav {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding: 4px 16px 4px 0;
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: stretch;
}

nav > ul > li {
  display: flex;
  margin: 0;
}

.nav-link,
.logo-link {
  color: inherit;
  display: flex;
  align-items: center;
  padding: 12px;
  height: 100%;
}

.nav-link:hover {
  color: var(--color-secondary-lightest);
}

#logo {
  padding: 4px 8px 0;
  display: flex;
  align-items: center;
}

#logo img {
  position: relative;
  height: 100px;
  margin-bottom: -29px;
}

#logo a {
  font-family: 'Ribeye Marrow', cursive;
  font-weight: normal;
  font-size: 30px;
  text-indent: 12px;
  line-height: 80%;
}

.nav-left {
  display: flex;
}

.nav-center {
  flex: 1;
  display: flex;
}

.nav-right {
  display: flex;
}

/* forms (just login/signup for now) */

form > div {
  margin: 1em;
  display: block;
}

label {
  display: block;
}

/* navbar cart badge stuff */

.cart-icon {
  height: 40px;
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
}

.cart-icon svg {
  height: 40px;
  width: auto;
}

.cart-icon path {
  stroke: white;
}

.cart-icon .cart-badge {
  display: block;
  position: absolute;
  left: 40%;
  right: 20%;
  top: 0;
  bottom: 30%;
  text-align: center;
  color: var(--color-secondary-lightest);
}

/* actual cart stuff */

.cart-tile {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-top: 2px lightgray solid;
  margin-bottom: 10px;
}

.cart-tile-image {
  height: 100px;
  width: auto;
}

.total {
  display: flex;
  justify-content: flex-end;
  border-top: 2px lightgray solid;
}

.total h3 {
  margin-left: 25px;
}

#cart-price {
  display: flex;
}

#cart-price p {
  margin-left: 10px;
}

/* products page stuff */

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product-card {
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.product-card img {
  width: 100%;
}

#check-mark {
  width: 50px;
  height: 50px;
}

#confirmation-page {
  display: flex;
  color: green;
}

#empty-cart {
  display: flex;
  align-items: flex-end;
}

#empty-cart img {
  height: 175px;
  width: 168px;
}

/* footer */

footer {
  padding: calc(2 * var(--spacing));
  background-color: var(--color-dark);
  color: var(--color-light);
}

footer p {
  margin: 0;
  padding: 0;
}
