@import url('~normalize.css/normalize.css');

/* general styles */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
}

/* navbar styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(197, 233, 197);
  padding: 5px;
}

nav > * {
  /* margin: 4px 8px; */
}

#logo {
  display: flex;
  align-content: flex-end;
}

#logo img {
  height: 60px;
}

.nav-left {
  display: flex;
}

.nav-center {
  flex: 1;
  display: flex;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right div {
  display: flex;
  align-items: center;
}

/* forms (login/signup for now) */

form div {
  margin: 1em;
  display: inline-block;
}

label {
  display: block;
}

/* cart stuff? */

#cart-num {
  /* background-color: purple; */
  height: 50px;
  width: 50px;
  background-image: url('https://media.istockphoto.com/vectors/green-shopping-trolley-cart-icon-vector-vector-id898475762?k=6&m=898475762&s=170667a&w=0&h=PJX4WGXuwaEwdOOdS4lzEGx3XoFsdgnjiu4B-dm_7X0=');
  background-size: 100%;
  text-align: center;
}

#cart-tile {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-top: 2px lightgray solid;
  margin-bottom: 10px;
}

#subtotal {
  display: flex;
  justify-content: flex-end;
  border-top: 2px lightgray solid;
}

#subtotal h3 {
  margin-left: 25px;
}

#cart-price {
  display: flex;
}

#cart-price p {
  margin-left: 10px;
}
