.popup {
  display: flex;
  position: fixed;
  bottom: 310px;
  left: 120px;
  border-radius: 20px;
  background: rgb(98, 168, 98);
  border: rgb(98, 168, 98);
}

.font {
  font-size: 15px;
  color: white;
}

.close {
  align-self: flex-end;
}
